<<<<<<< HEAD
$color-light-grey: #faf6ec;
$color-dark-grey: #7b7978;
$color-light-yellow: #ffee98;
$color-orange: #cd5700;
$color-bordo: #741b09;
$color-basic: #3F3A3A;
=======
$color-light-grey: #faf6ec;
$color-dark-grey: #7b7978;
$color-light-yellow: #ffee98;
$color-orange: #cd5700;
$color-bordo: #741b09;
$color-basic: #3F3A3A;
>>>>>>> 633382c13e4ab0eea71f834554f2f0cf47155fe4
$color-accent: #ce9a68;